*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  border: 1px solid black;
}
.mainNav{
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background-color: antiquewhite;
  border: 2px solid red ;
}